/*google fonts*/
.pixelify-sans-big-text {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.doto-accent {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "ROND" 0;
}

* {box-sizing: border-box;}

body { 
    margin: 0;
    font-family: "Jersey 10", "Pixelify Sans","Doto", sans-serif;
}

main{

    min-height: 100rem;
    background-color: #3C1254;
}

/*------------------------heder nr 1------------------------------------------*/
.firts-header {
    overflow: hidden;
    background-color:#FCEDF5;
    padding: 15px 10px;
    height: 7vw;
}


.firts-header a {
    font:400 "Pixelify Sans";
    float: left;
    color: #6A1B9A;
    text-align: center;
    margin-right: 2vw;
    text-decoration: none;
    font-size: 30px;
    line-height: 25px;
    border-radius: 4px;
}

.header-right span {
    display: block;
    float: left;
    margin-right: 40vw;
    overflow: hidden; 
    padding-top: 1vw;
}

/*style for the imges*/
.firts-header a img{
    float: left;
    text-align: center;
    height: 60px;
    padding: 0px;
    margin: 0;
    text-decoration: none;
    border-radius: 4px;
    
}

.logo img{
    height: 100%;
    width: auto;         
    object-fit: contain;
}
.shop_login img{
    height: 70%;
    width: auto;      
    object-fit: contain;
}


.firts-header a:hover {
    background-color: #fef5fa;
    transition: 0.2s ease-in;
    text-decoration: underline;
    color: #C81515;
}



.header-right {
    float: right;
}


/*-------------------header nr2-----------------------------------------*/
.second-header {
    position: sticky;
    top: 0;
    z-index: 1000;          /*chat gpt added so it would sit above*/
    height: fit-content;
    background-color:#4a1e63;
    font:400 "Pixelify Sans";
    padding: 5px 10px;
    box-shadow: 2px 2px 5px#170c1cab;
    height: 5vw;
}


.second-header a {
    float: left;
    color: #FFFBFD;
    text-align: center;
    max-width: fit-content;
    margin-right: 2vw;
    text-decoration: underline;
    font-size: 25px;
    border-radius: 4px;
}



/*style for the logo*/
.second-header a img{
    float: left;
    text-align: center;
    height: 100%;
    padding: 0px;
    margin: 0;
    height: 50px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}



.logo img:hover {
    transition: 0.2s ease-in;
    background-color:#691b9a00;
}

.second-header a:hover {
    background-color:#691b9a7d;
    transition: 0.2s ease-in;
    color: #C81515 ;
}


.header-rightSecond {
    float: right;
    padding-top: 1vw;
    margin-right: 30vw;
    overflow: hidden; 
    
}



.header-rightSecond input {
    float: left;
    background-color:#6A1B9A;
    border-width: 5px;
    border-color: #DE7FE3;
   

}
input::placeholder {
    font-family: "Jersey 10" ;
    font-size: 20px;
    color: #C81515;
    
}
.header-rightSecond img{
    height: 2vw;

}
.header-rightSecond img:hover{
    cursor: pointer;
    transition: 0.5 linear;
    transform: scale(1.1)
}

/*---------pixel_world.html----------------*/

.header-right span {
    text-decoration: underline  #C81515 ;
}

/*-------------- games.html---------------*/

.header-rightSecond span {
    text-decoration: underline  #C81515 ;
}

#choseGame {        /* chat gpt made it a display block*/
    display: block;  
    text-align: center; 
    padding: 2rem 0;
}

#choseGame h1 {
    font-family:"Pixelify Sans", sans-serif;
    font-size: 60px;
    font-weight: 200;
    text-align: center;
    color: #fef5fa;
    margin-bottom: 2rem;
    
}

#choseGame .game1, 
#choseGame .game2 {
    display: inline-flex;  /*chat gpt chaged layout from float to inilne flex*/   
    justify-content: center;
    align-items: center;
    width: 21.5vw;
    height: 21.5vw;
    border: 10px ridge #DE7FE3;
    margin-right: 4vw;           
    transition: transform .2s;
}

.game1 a {
    display: grid; /*chat gpt made it in to a grid so text could sit above img*/
    place-items: center;  
}
.game2, .game1 img {
    width: 20vw;
    height: 20vw;
}
.game1 img,
.game1 a p {
    grid-area: 1 / 1;   /*chat gpt added to get the text on top of img*/
}
.game1,
.game2 a p {
    margin-top: 10px;
    text-align: center;
    color: #FCEDF5;
    font-size: 40px;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 500;
}


.game2 a { /*chat gpt made a spesific one for a to make the text apear on top of img*/
    display: grid; 
    place-items: center;   
}

.game2 img,
.game2 a p {
    grid-area: 1 / 1;   /* chat gpt added so both lay in the same aria */
}

#choseGame .game1:hover,
#choseGame .game2:hover {
    cursor: pointer;
    box-shadow: 5px 5px 7px #170C1C;
    transform: scale(1.1)

}

#convinentstore,
#Cybr {
    display: none;
    margin: 0;
    padding: 15px 10px;   
    background-color: #3C1254; 

}
#convinentstore h2,
#Cybr h2 {
    margin-top: 0;   
    margin-bottom: 1vw; 
    color: #fef5fa;
}

/*----slide show----- disclamer i did not program the slide show i found and copypasted from w3school i have read trough it and understand most of it*/
/*made minor styling changes so it fitt my prefrance*/
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin-right: auto;
  
}

.slideshow-container img{   /*added img height and border my self*/
    height: 350px;
    border-radius: 20px;
}

.storeSlides,
.cybrSlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #C81515;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.storedot,
.cybrdot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #C81515;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .storedot:hover, .cybrdot:hover {
  background-color: #c8151575;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*----------------- Pixel_world.html ------------------------------*/
#welcome {
    margin: 0;
    padding: 3vw 5vw;
    height: 20vw;
    color: #FCEDF5;   
    background-image: url('cybrlongfaded.png');     /*found on w3shcool*/
    background-repeat: no-repeat;                   /*found on w3shcool*/
    background-attachment: fixed;                   /*found on w3shcool*/
    background-size: cover;                         /*found on w3shcool*/
}


#welcome h1  {
    font: bold 50px "Pixelify Sans", sans-serif ;
    
}

#welcome p{
    font: 400 20px "Jersey 10", sans-serif;
    margin: 0px 2vw;
}


