/*google fonts*/
.pixelify-sans-big-text {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.doto-accent {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "ROND" 0;
}

* {box-sizing: border-box;}

body { 
    margin: 0;
    font-family: "Jersey 10", "Pixelify Sans","Doto", sans-serif;
}

main{
    min-height: 200rem;
    background-color: #3C1254;
}

/*------------------------heder nr 1------------------------------------------*/
.firts-header {
    overflow: hidden;
    background-color:#FCEDF5;
    padding: 15px 10px;
    height: 7vw;
}


.firts-header a {
    font:400 "Pixelify Sans";
    float: left;
    color: #6A1B9A;
    text-align: center;
    margin-right: 2vw;
    text-decoration: none;
    font-size: 30px;
    line-height: 25px;
    border-radius: 4px;
}

.header-right span {
    display: block;
    float: left;
    margin-right: 40vw;
    overflow: hidden; 
    padding-top: 1vw;
}

/*style for the imges*/
.firts-header a img{
    float: left;
    text-align: center;
    height: 60px;
    padding: 0px;
    margin: 0;
    text-decoration: none;
    border-radius: 4px;
    
}

.logo img{
    height: 100%;
    width: auto;         
    object-fit: contain;
}
.shop_login img{
    height: 70%;
    width: auto;      
    object-fit: contain;
}



.firts-header a:hover {
    background-color: #fef5fa;
    transition: 0.2s ease-in;
    color: #170C1C;
}



.header-right {
    float: right;
}


/*-------------------header nr2-----------------------------------------*/
.second-header {
    position: sticky;
    top: 0;
    z-index: 1000;          /*chat gpt added so it would sit above*/
    height: fit-content;
    background-color:#4a1e63;
    font:400 "Pixelify Sans";
    padding: 5px 10px;
    box-shadow: 2px 2px 5px#170c1cab;
    height: 5vw;
}


.second-header a {
    float: left;
    color: #FFFBFD;
    text-align: center;
    max-width: fit-content;
    margin-right: 2vw;
    text-decoration: underline;
    font-size: 25px;
    border-radius: 4px;
}



/*style for the logo*/
.second-header a img{
    float: left;
    text-align: center;
    height: 100%;
    padding: 0px;
    margin: 0;
    height: 50px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}



.logo img:hover {
    transition: 0.2s ease-in;
    background-color:#691b9a00;
}

.second-header a:hover {
    background-color:#691b9a7d;
    transition: 0.2s ease-in;
    color: #C81515 ;
}


.header-rightSecond {
    float: right;
    padding-top: 1vw;
    margin-right: 30vw;
    overflow: hidden; 
    
}



.header-rightSecond input {
    float: left;
    background-color:#6A1B9A;
    border-width: 5px;
    border-color: #DE7FE3;
   

}
input::placeholder {
    font-family: "Jersey 10" ;
    font-size: 20px;
    color: #C81515;
    
}
.header-rightSecond img{
    height: 2vw;

}
.header-rightSecond img:hover{
    cursor: pointer;
    transition: 0.5 linear;
    height: 2.1vw;
}

/*---------pixel_world.html----------------*/

.header-right span {
    text-decoration: underline  #C81515 ;
}

/*-------------- games.html---------------*/

.header-rightSecond span {
    text-decoration: underline  #C81515 ;
}

#choseGame {
    overflow: hidden;

    padding: 15px 10px;
}


.game1 {
    width: 20vw;
    height: 20vw;
    background-color: #DE7FE3;
}

.game1 img {
    width: 20vw;
    height: 20vw;
}



.game2 {
    width: 20vw;
    height: 20vw;
}

.game2 img {
    width: 20vw;
    height: 20vw;
}


.game2 a {
    display: block;
    text-align: center;
    color: #FCEDF5;
    text-decoration: none;
}

.game2 a p {
    margin-top: 10px;
    font-size: 17px;
}
#convinentstore,
#Cybr {
    display: none;
}

