/*google fonts*/
.pixelify-sans-big-text {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.doto-accent {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "ROND" 0;
}

* {box-sizing: border-box;}

body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



.header {
    overflow: hidden;
    background-color: #FCEDF5;
    padding: 15px 10px;
}


.header a {
    float: left;
    color: black;
    text-align: center;
    height: 60px;
    padding: 0px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}



/*style for the imges*/
.header a img{
    float: left;
    text-align: center;
    height: 60px;
    padding: 0px;
    margin: 0;
    text-decoration: none;
    font-size: 18px;
    
    border-radius: 4px;
    
}

.logo img{
    height: 100%;
    width: auto;         
    object-fit: contain;
}
.shop_login img{
    height: 70%;
    width: auto;      
    object-fit: contain;
}



.header a:hover {
    background-color: #fef5fa;
    transition: 0.2s ease-in;
    color: black;
}



/* Float the link section to the right */
.header-right {
    float: right;
}
